/*
    Folha de estilo do site one page HTML5 e CSS3
    @devviny Dev Viny Maia
    vinymaia29@gmail.com
*/

/* Importação Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Reset */
*{
    margin: 0;
    border: 0;
    padding: 0;
}


body{
    font-family: "Open Sans", sans-serif;
    /*1em tamanho da fonte padrão porem pode ser redimensionado de forma dinâmica sem distoção ou quebra de layout 1em = 16px*/
    font-size: 1em; 

}


/* Layout */
.Container{
    /*para centralizar o conteúdo na tela*/
    margin: 0 auto;
    /*para visualizar melhor a centralização do layout*/
    background-color: #dcdcdc;
}

.Flex{
    /* display flex deixa os itens um do lado do outro */
    display: flex;
    /* faz o alinhamento dos itens no container deixando espaço entre*/
    justify-content: space-between;
    background-color: #a9a9a9
}


/* topo do site */
#topo{
    position: fixed; 
    right: 10px;
    bottom: 10px; 
}

/* Cabeçalho */
header{
    height: 60px;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#logo img{
    width: 128px; /*208*/
    height: 76px; /* 130.25.4 */
    margin-top: 20px;
}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){
    body{
        background-color: #0ff;
    }
    /* Layout */
    .Container {
        /*define a largura máxima do dispositivo*/
        max-width: 540px;
    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){
    body{
        background-color: #ff0;
    }
    /* Layout */
    .Container {
        max-width: 720px;
    }
}

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media(min-width: 992px){
    body{
        background-color: #f60;
    }
    /* Layout */
    .Container {
        max-width: 960px;
    }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media(min-width: 1200px){
    body{
        background-color: #f00;
    }
    /* Layout */
    .Container {
        max-width: 1140px;
    }

    header{
        height: 120px;
    }

    #logo img{
        width: 228px;
        height: 130px;
        margin-top: 60px;
    }
}
